doctype html
html
    head
        link(rel='stylesheet', href='/materialize/css/materialize.min.css')
        link(rel='stylesheet', href='/style.css')
        script(type='text/javascript', src='/jquery-1.12.0.min.js')
        script(type='text/javascript', src='/materialize/js/materialize.min.js')
        title Performance Test (Node.Js)
    body
        nav(class="blue darken-4")
            .nav-wrapper
                a.brand-logo(href='/', style='padding-left:15px') Performance Test (Node.Js)
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='/') Java
                    li
                        a(href='/') Golang
                    li
                        a(href='/about') About

        div(class="container")
            br
            h4 Overview
            p This page runs a response-time performance test on a Node.Js server. The test involves some basic operations as well as a complex, computationally heavy, operation. The basic operations include <i>creating</i>, <i>reading</i>, <i>updating</i> and <i>deleting</i> Record objects. A Record is a simple <i>name-value</i> pair, such as <i>FavouriteColor-Red</i> or <i>CourseCode-COMP4905</i>. The complex operation is intended to be long running (about a 10 seconds). It invokes an arbitrary mathemetical operation on the server. All response times are logged in a console at the end of the page. Compare your results against the same application running on a Java server at {link}, or running on a Go server at {other link}
            br
            .row
                .col.s6
                    .card.hoverable(style="padding:15px")
                        span.card-title Record 
                        .row(id="create_record_row")
                            .input-field.col.s12
                                input#create_record.validate(type='text')
                                label(for='record_name') Name
                        .row    
                            .input-field.col.s12
                                input#last_name.validate(type='text')
                                label(for='record_value') Value

                .col.s6
                    .row
                        .col(style="padding-left:15px;padding-top:15px")
                            .row.center(id="create_record_row")
                                a.waves-effect.waves-light.btn-large(style="width:120px", id="create_button", class="blue darken-4") Create
                            .row.center
                                a.waves-effect.waves-light.btn-large(style="width:120px",id="update_button", class="blue darken-4") Update
                        .col(style="padding-left:15px;padding-top:15px")
                            .row.center(id="create_record_row")
                                a.waves-effect.waves-light.btn-large(style="width:120px",id="read_button", class="blue darken-4") Read
                            .row.center
                                a.waves-effect.waves-light.btn-large(style="width:120px",id="delete_button", class="blue darken-4") Delete
                    .row(style="padding-left:5px")
                            a.waves-effect.waves-light.btn-large(style="width:240px", id="long_operation", class="red") Run Long Operation
            .scrollbox(id="console")
            br

script.
    $(document).ready(function(){
        $("#create_button").click(function() {
            var field = document.getElementById("console");
            var str = field.innerHTML;
            var time = new Date();
            str = "[CREATE "+time+"] 100 ms<br>" + str;
            field.innerHTML = str;
        });
        $("#read_button").click(function() {
            var field = document.getElementById("console");
            var str = field.innerHTML;
            var time = new Date();
            str = "[READ "+time+"] 100 ms<br>" + str;
            field.innerHTML = str;
        });
        $("#update_button").click(function() {
            var field = document.getElementById("console");
            var str = field.innerHTML;
            var time = new Date();
            str = "[UPDATE "+time+"] 100 ms<br>" + str;
            field.innerHTML = str;
        });
        $("#delete_button").click(function() {
            var field = document.getElementById("console");
            var str = field.innerHTML;
            var time = new Date();
            str = "[DELETE "+time+"] 100 ms<br>" + str;
            field.innerHTML = str;
        });
        $("#long_operation").click(function() {
            var field = document.getElementById("console");
            var str = field.innerHTML;
            var time = new Date();
            str = "[LONG_OP "+time+"] 100 ms<br>" + str;
            field.innerHTML = str;
        });
    });
